<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://172.16.1.58:3306/user"></property>
        <property name="username" value="root"></property>
        <property name="password" value="Password123$"></property>
    </bean>


    <bean id="sqlsessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--绑定Mybatis需要的前置数据-->
        <property name="dataSource" ref="datasource"></property>
        <!--与mybatis-config.xml 结合-->
        <property name="configLocation" value="classpath:mybatis-config.xml"></property>
        <!--相当于Mappers-->
        <property name="mapperLocations" value="classpath:com/wantoper/mapper/UserMapper.xml"></property>
    </bean>

    <!--sqlSession 写死的-->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <!--由于SqlSessionTemplate没有Set方法 只能用构造器注入-->
        <constructor-arg index="0" ref="sqlsessionFactory"></constructor-arg>
    </bean>

</beans>